/* styles.css */

* {
	font-family: Arial;
}

.container {
  display: flex;       /* Aligns circles in a row */
  gap: 0.25vw;          /* Space between circles */
  /*justify-content: center; /* Centers the line on the page */
}

.circle {
  width: 1vw;
  height: 0.40vw;
  background-color: #000000;
  border-radius: 50%; /* Turns square into a circle */
  padding: 0.4vw 0; 
}

.userPswdBox {
	border: 0.25vw solid black; /* Creates the box outline */
	padding: 1vw;           /* Adds space between the text and the border */
	width: 50vw;            /* Sets the width of the box */
	background-color: #D9E5D6; /* Optional background color */
}

.signInBox {
	border: 0.25vw solid black; /* Creates the box outline */
	padding: 0.5vw;           /* Adds space between the text and the border */
	width: 50vw;            /* Sets the width of the box */
	display: flex;
	justify-content: center; /* Horizontal centering */
	align-items: center;    
	margin-top: 5vw;  
	background-color: #00A7E1; /* Optional background color */
}

.aiBox {
	border: 0.25vw solid black; /* Creates the box outline */
	width: 30vw;
	height: 30vw; 
	margin-left: 65vw;
 	margin-right: auto;
	margin-top: 3vw;
	/*background-color: #FF9B42; */ 
	background: radial-gradient(#F7A072, #F57200);
  position: fixed;
}


.header {
	margin-top: -1vw; 
	margin-left: -1vw;
	width: 101vw;
	background-color: #007AA3;
	display: grid;
  	place-items: center; 
	height: 10vw;
}

.items-container {
	
	border: 0.25vw solid black; /* Creates the box outline */
	padding: 0.5vw;           /* Adds space between the text and the border */
	width: 62vw;            /* Sets the width of the box */
	display: flex;
	align-items: center;    
	margin-top: 2vw;  
	
	justify-content: center; /* Horizontal centering */
	
	background-color: #bde6f4; /* Optional background color */
}

.items {
	
	border: 0.25vw solid black; /* Creates the box outline */
	padding: 1vw;           /* Adds space between the text and the border */
	width: 10vw;  
	height: 15vw;          /* Sets the width of the box */
	display: flex;
	margin-top: 0.25vw;
	margin-bottom: 0.25vw;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	text-align: center;
	flex-direction: column;
	background-color: #FFFFFF; /* Optional background color */
}

.boxImage img{
	width: 8vw;
	height: 8vw; 
	object-fit: contain;
	margin-bottom: -2vw;
	max-width: 100%;
}

h2 {
	font-size: 4vw; 
	color: white; 
}

h3 {
	font-size: 2.5vw; 
	color: black; 
}

h4 {
	font-size: 1.5vw; 
	color: black; 
	
}

h5 {
	font-size: 1.5vw; 
	color: white; 
}

h6 {
	font-size: 1.2vw; 
	color: black; 
}

a {
	font-size: 1.1vw;
	color: black; 
}