/* styles.css */

* {
	font-family: Arial;
}

.container {
  display: flex;       /* Aligns circles in a row */
  gap: 0.25vw;          /* Space between circles */
  /*justify-content: center; /* Centers the line on the page */
}

.circle {
  width: 1vw;
  height: 0.40vw;
  background-color: #000000;
  border-radius: 50%; /* Turns square into a circle */
  padding: 0.4vw 0; 
}

.userPswdBox {
	border: 0.25vw solid black; /* Creates the box outline */
	padding: 1vw;           /* Adds space between the text and the border */
	width: 50vw;            /* Sets the width of the box */
	background-color: #D9E5D6; /* Optional background color */
}

.signInBox {
	border: 0.25vw solid black; /* Creates the box outline */
	padding: 0.5vw;           /* Adds space between the text and the border */
	width: 50vw;            /* Sets the width of the box */
	display: flex;
	justify-content: center; /* Horizontal centering */
	align-items: center;    
	margin-top: 5vw;  
	background-color: #00A7E1; /* Optional background color */
}

.aiBox {
	border: 0.25vw solid black; /* Creates the box outline */
	width: 20vw;
	height: 40vw; 
	margin-left: auto;
 	margin-right: 3vw;
	margin-top: 3vw;
	background-color: #FF9B42;
}